.parallax-container {
    position: relative;
    height: 160vh; 
    overflow: hidden;
    text-align: center;
  }
  
  h1 {
    font-size: 5rem;
    color: white;
    margin-top: 20vh;
  }
  
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 70vh;
  }
  
  .content {
    margin-top: 100vh; 
  }
  
  .filler {
    height: 50vh; 
  }
  
  .large-content {
    font-size: 1.5rem;
    padding: 50px;
    line-height: 1.6;
  }
  
  .large-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .large-content p {
    margin-bottom: 20px;
  }

  .number-active {
    filter: drop-shadow(0 0 10px lime);
    border: 2px solid yellow;
    transition: 0.8 all ease-in-out !important;  
    color: lime !important;
  }

  .cell-active {
    background: #2fda54;
  }

.roulette-dropped-chip{
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.6) !important;
}

.corner-dropped-chip{
  position: absolute;
  top: 0;
  left: 0;
  
}

.borderLeft-dropped-chip{
  position: absolute;
  top: 25%;
  left: 0;
  transform: scale(1.2);
}

.borderTop-dropped-chip{
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.6) translateY(-60%);
  
}



