.parallax-container {
    position: relative;
    height: 160vh; 
    overflow: hidden;
    text-align: center;
  }
  
  h1 {
    font-size: 5rem;
    color: white;
    margin-top: 20vh;
  }
  
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 70vh;
  }
  
  .content {
    margin-top: 100vh; 
  }
  
  .filler {
    height: 50vh; 
  }
  
  .large-content {
    font-size: 1.5rem;
    padding: 50px;
    line-height: 1.6;
  }
  
  .large-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .large-content p {
    margin-bottom: 20px;
  }

  .number-active {
    box-shadow: inset 1px 1px 5px 5px #00ff37bd;
    border: 2px solid yellow;
    transition: 0.8 all ease-in-out !important;  
    color: rgb(22, 235, 22) !important;
  }

  .number-active {
    background: transparent;
  }

  .cell-active {
    box-shadow: inset 1px 1px 5px 5px #00ff37bd;
  }

.roulette-dropped-chip{
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  transform: translate(50%,50%);
}

.roulette-dropped-chip-small{
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  transform: translate(37.5%,37.5%);
}

.zero-dropped-chip{
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}

.zero-dropped-chip-small{
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

.corner-dropped-chip{
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}

.corner-dropped-chip-small{
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  transform: translate(25%,25%);
}

.borderLeft-dropped-chip{
  position: absolute;
  top: 25%;
  left: 0;
  width: 30px;
  height: 30px;
  transform: translate(-15%,-15%);
}

.borderLeft-dropped-chip-small{
  position: absolute;
  top: 25%;
  left: 0;
  width: 20px;
  height: 20px;
}

.borderTop-dropped-chip{
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.6) translateY(-60%);
}

.borderTop-dropped-chip-small{
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  transform: translate(15%, -25%);
}

.first-dropped-chip{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-20px, -20px);
}

.first-dropped-chip-small{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 968px){
  .corner-dropped-chip{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    transform: translate(25%,25%);
  }
  .borderLeft-dropped-chip{
    position: absolute;
    top: 25%;
    left: 0;
    width: 20px;
    height: 20px;
    transform: translate(-15%,-15%);
  }
  .zero-dropped-chip{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
  }
  .first-dropped-chip{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-15px, -15px);
  }
  .zero-dropped-chip-small{
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
  }
  .roulette-dropped-chip-small{
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    transform: translate(50%,50%);
  }
  .first-dropped-chip-small{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%);
  }
  .corner-dropped-chip-small{
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    transform: translate(50%,50%);
  }
  .borderTop-dropped-chip-small{
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    transform: translate, (-10%,-25%);
  }
  .borderLeft-dropped-chip-small{
    position: absolute;
    top: 25%;
    left: 0;
    width: 15px;
    height: 15px;
    transform: translate(-25%,-25%);
  }
}

