@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

@font-face {
  font-family: 'PacFont';
  src: url('../public/fonts/PacFont.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PacMan';
  src: url('../public/fonts/PacMan.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  box-sizing: border-box;
  margin: 0;
  font-family: 'Dosis';
}

*::-webkit-scrollbar {
  display: none;
}

a{
  text-decoration: none;
}



.menu-container-four{
  position:absolute;
  width:90vw;
  max-height:15vh;
  top: 0;
  display:flex;
  align-items: center;
  z-index: 1000;
  justify-content: center;
}

.menu-container-five{
  position:absolute;
  width:80vw;
  min-height:85vh;
  top: 15vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  justify-content: center;
}

.menu-container-six{
  position:fixed;
  width:100vw;
  height:100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  display:flex;
  background-color:rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  flex-direction: column;
  z-index: 6000;
  justify-content: center;
}

.dropped-chips{
  display: flex;
}


.chip img{
  width: 70%;
  display: flex;
  margin: auto;
}

.menu-container-seven{
  position:fixed;
  width:100vw;
  height:100vh;
  top: 0vh;
  left: 0;
  overflow: hidden;
  color:#fff;
  display:flex;
  background-color:rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  flex-direction: column;
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.menu-container-eight{
  position:fixed;
  width:25vw;
  height:100vh;
  top: 0;
  left: 75vw;
  color:#fff;
  display:flex;
  flex-direction: column;
  z-index: 3000;
  justify-content: center;
  align-items: center;
}

.menu-container-eight{
  position:fixed;
  width:100px;
  height:20vh;
  top: 0;
  left: 0;
  color:#fff;
  background: orange;
  display:flex;
  flex-direction: column;
  z-index: 3000;
  justify-content: center;
  align-items: center;
}

.bet-info{
  color: white;
  font-size: 24px;
}

.expandable-div {
  width: 70%;
  overflow: hidden;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
}

.expandable-smalldiv {
  width: 90%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0px;
}

.hidden-content{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 60px 0;
}

.hidden-content2{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.custom-input {
  border: 1px solid white; /* White border by default */
  outline: none; /* Remove the default outline */
  padding: 8px; /* Add some padding */
  background-color: transparent; /* Transparent background */
  color: white; /* Text color */
  box-sizing: border-box; /* Ensures padding is included in the width */
  margin: 0 20px;
}

/* Change border color to black on focus */
.custom-input:focus {
  border-color: black;
}

/* Remove the arrows for number input */
.custom-input::-webkit-outer-spin-button,
.custom-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#dealer-cards{
  width: auto;
  height: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  border: 1px solid orange;
}




#hidden{
  width: 100%;
}



.topCard{
  display: flex;
  align-items: center;
  justify-content: center;
}

.topCard:first-child{
  margin: 0 10px;
  width: 15%;
  height:100%;
}

#your-cards img {
  height: 175px;
  width: 125px;
  margin: 1px;
}

#hit {
  width: 100px;
  height: 50px;
  font-size: 20px;
}

#stay {
  width: 100px;
  height: 50px;
  font-size: 20px;
}

.notification-area {
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
  background-color: #f9f9f9;
  margin-top: 20px;
}

.notification {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.custom-toast {
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid aqua;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.toast {
  z-index: 9999;
  background: transparent; /* Ensure it stays on top of everything */
}

.swal-ok{
  align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
    border: 1px solid #03e9f4;
    border-radius: 0.58vmin;
    color:#03e9f4;
    padding: 10px 20px;
    font-size: 1.9vmin;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 20px;
}
.swal-ok:hover{
    background:#03e9f4;
    color: #fff;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4,
    0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.MyCustomIconButton{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50px);
}

.MyCustomIconButton:hover{
    background:#03e9f4;
    color: #fff;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4,
    0 0 50px #03e9f4, 0 0 100px #03e9f4;
    
}

.swal-cancel{
  align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
    border: 1px solid #eb3f14;
    border-radius: 0.58vmin;
    color:#eb3f14;
    padding: 10px 20px;
    font-size: 1.9vmin;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 20px;
}
.swal-cancel:hover{
    background:#eb3f14;
    color: #fff;
    box-shadow: 0 0 5px #eb3f14, 0 0 25px #eb3f14,
    0 0 50px #eb3f14, 0 0 100px #eb3f14;
}

.custom-swal-modal{
  -webkit-box-shadow: 0px 5px 10px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px 5px 10px 0px rgba(255,255,255,1);
  box-shadow: 0px 5px 10px 0px rgba(255,255,255,1);
}

.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 300px;
  position: relative;
}

.table-container {
  display: flex;
  justify-content: center;
  position: relative;
  perspective: 1000px;
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

.card-spot {
  position: absolute;
  width: 15%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.card-content {
  display: flex;
  border: 2px solid aqua;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  border-radius: 8px;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
  font-size: 1rem;
}

/* Empty cards styling */
.card-content.empty {
  background-color: transparent; /* You can adjust this as needed */
  border: 1px solid #c2c2c2;
}

.MuiButtonBase-root{
  background: transparent;
}

.box.active{
  background-color: rgb(95, 91, 83);
  color: aqua;
  font-weight: bold;
}





